# SESION 05

# Tipos de datos y operaciones básicas

In [1]:
print(type(1))

<class 'int'>

# Cálculo de salario

In [2]:
horas = 35.0
tarifa = 12.50
salario = horas * tarifa
print(salario)

437.5

# Tipo de dato entero

In [3]:
print(10)
print(type(10))

10
<class 'int'>

# Asignación de variables y tipos

In [4]:
variable = 100
print(variable)
print(type(variable))

100
<class 'int'>

In [5]:
variable_2 = int(20)
print(variable_2)
print(type(variable_2))

20
<class 'int'>

# Números en diferentes bases

In [6]:
print("Base decimal")
print(10)

print("Base binaria")
print(0b1010)

print("Base octal")
print(0o12)

print("Base hexadecimal")
print(0xa)

Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

# Números grandes - Entero con 60 dígitos

In [7]:
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print(variable_3)
print(type(variable_3))

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

# Números decimales y punto flotante

In [8]:
print(0.5)
print(type(0.5))

0.5
<class 'float'>

In [9]:
variable_4 = 0.100546
print(variable_4)
print(type(variable_4))

0.100546
<class 'float'>

In [10]:
variable_7 = float(1)
print(variable_7)
print(type(variable_7))

1.0
<class 'float'>

In [11]:
variable_6 = 2.0e-3
print(variable_6)
print(type(variable_6))

0.002
<class 'float'>

In [12]:
variable_5 = 0.9999999999999999
print(variable_5)
print(type(variable_5))

0.9999999999999999
<class 'float'>

# Operaciones aritméticas

In [13]:
a = 10
b = 3

print("Suma")
print(a + b)

print("Resta")
print(a - b)

print("Multiplicación")
print(a * b)

print("División")
print(a / b)

print("Potencia")
print(a ** b)

print("Módulo o residuo")
print(a % b)

print("División entera")
print(a // b)

Suma
13
Resta
7
Multiplicación
30
División
3.3333333333333335
Potencia
1000
Módulo o residuo
1
División entera
3

 # Ejercicio 01
 ## Un contador tiene 300 minutos y se le suman 3600 segundos, ¿Cuántas horas en total son?

In [14]:
minutos = 300
segundos = 3600
minutos_extra = segundos / 60
minutos_totales = minutos + minutos_extra
horas_totales = minutos_totales / 60
print("total de", horas_totales, "horas.")

total de 6.0 horas.

# Operadores de comparación

In [15]:
print("Operadores de comparación")
comparar = 10
print(comparar < 10)
print(comparar > 10)
print(comparar == 10)
print(comparar <= 10)
print(comparar >= 10)
print(comparar != 10)

Operadores de comparación
False
False
True
True
True
False

# Comparación entre int y float

In [ ]:
print("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print(entero < flotante)
print(entero > flotante)
print(entero == flotante)
print(entero <= flotante)
print(entero >= flotante)
print(entero != flotante)

Operadores de comparación con int - float
False
False
True
True
True
False